---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Intro from '../components/Intro.astro';
import Footer from '../components/Footer.astro';

interface MarkdownFrontmatter {
  publishDate: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'jounileino.com';
let description = '"Appreciate the past, implement the future!"';
let permalink = 'https://jounileino.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <BlogHeader permalink={permalink} />
    <div class="layout">
      <article class="content">
        <Intro permalink={permalink} title={title} description={description} />
        <section>
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>        
        <Footer />
      </article>
      
    </div>
  </body>
</html>
